table {
	border-collapse: collpase;
	margin: auto;
}

td {
	width: 100px;
	height: 100px;
}

td:nth-of-type(even) {
	border-right: 1px solid black;
	border-left: 1px solid black;
}

tr:nth-of-type(2) td {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}